<div class="box">
    <div class="view-products"><a id="button-products" class="button" href="/products">Volver</a></div>
    <h1>Productos</h1>
    <div class="products-box">
        {{#each products}}
            <div class="product-card">
                <h3>{{this.product.title}}</h3>
                <hr>
                <p>Categoria: {{this.product.category}}</p>
                <p>Precio: $ {{this.product.price}}</p>
                <p>Cantidad: {{this.quantity}}</p>
            </div>
        {{/each}}
    </div>
    <div class="footer">
        <button id="button-purchase" class="button" onclick="finalizePurchase('{{../_id}}')">Finalizar Compra</button>
    </div>
</div>

<script>
console.log('Cart ID:', '{{../_id}}');

async function finalizePurchase(cartId) {
    console.log('Finalizing purchase for cart ID:', cartId); // Add this log
    const token = document.cookie.split('=')[1];
    const response = await fetch(`/cart/${cartId}/purchase`, {
        method: 'POST',
        headers: {
            'Authorization': `Bearer ${token}`,
            'Content-Type': 'application/json'
        }
    });

    const data = await response.json();

    if (data.status === 'success') {
        alert('Compra finalizada con éxito!');
        window.location.href = '/products';
    } else {
        alert(data.message);
    }
}
</script>